.adgroups-selector {
  position: relative;
  & > button:nth-child(1) {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid $gray;
    height: 42px;
    background-color: $white;
    display: flex;
    justify-content: flex-start;
  }
  .selector-container {
    box-shadow: $box-shadow;
    padding: 10px;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: $white;

    &.loading > div {
      opacity: 0.5;
    }

    .header {
      padding-bottom: 10px;
    }

    .adgroups-action {
      display: flex;
      justify-content: flex-end;

      .btn {
        padding: 10px;
        margin-left: 10px;
      }
    }
  }
}
