.optimization-advanced {
  .btn {
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    color: $gray;
    border: 1px solid $gray;
    padding: 7px 22px;
  }

  .adjust-bid {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    .bid-select {
      width: 20%;
      padding-right: 10px;
    }
    .btn-apply {
      background-color: $red;
      color: $white;
      border: 1px solid $red;
      padding: 3px 11px;
    }
    .btn-cancel {
      padding: 3px 11px;
    }
    .bid-val {
      padding-right: 10px;

      input {
        border-radius: 5px;
        padding: 7px 22px;
      }
    }
  }
  .optimization-advanced-keyword {
    position: relative;
    &.loading {
      opacity: 0.5;
    }
  }
  .optimization-advanced-negative {
    position: relative;
    &.loading {
      opacity: 0.5;
    }
  }
  .optimization-advanced-worst-adg {
    position: relative;
    &.loading {
      opacity: 0.5;
    }
  }
  .optimization-advanced-auto-targeting {
    position: relative;
    &.loading {
      opacity: 0.5;
    }
  }
}